PRIVATE_KEY=54a4d599916b856d86eae0f8c015cbfb2046e53102d902440aaa6170887617bb
DATABASE_URL=postgresql://neondb_owner:npg_71YLPwZyCtFQ@ep-summer-bar-ah1acl21-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NODE_ENV=development
VITE_WALLETCONNECT_PROJECT_ID=5e5a085c25a4968083b89e8caf2b2dd4
VITE_ALCHEMY_API_KEY=ODGTZ44I1zVxCSh4XVJ0a
VITE_ALCHEMY_RPC_URL=https://base-sepolia.g.alchemy.com/v2/ODGTZ44I1zVxCSh4XVJ0a
VITE_CDP_API_KEY=d657b7da-fc80-46f6-91aa-15e92db12090

#VITE_ALCHEMY_MAINNET_URL=https://base-mainnet.g.alchemy.com/v2/your_key
